body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0c92ff;
    padding:20px;
    text-align: center;
    margin: auto;
}

#searchInput {
    padding: 10px;
    margin-left: 70%;
    margin-top: 2%;
    font-size: 16px; 
}

#searchButton {
    padding: 12px 12px;
    margin-left: 90%;
    margin:auto;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #004794;
}

#logo{
    width: 200px;
    height: 90px;
    margin-top: -30px;
}

.result{
    position: static;
    top: 10px;
    padding: 20px;
    margin: 100px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #007bff;
    color: black;
    height: 300px;
}

.result img{
    width: 20%;
    height: 100%;
}

.content h1{
    overflow: hidden;
    text-align: center;
    margin-top: -300px;
    margin-left:250px;
}
.content h2{
    overflow: hidden;
    text-align: left;
    width: 70%;
    margin-left: 350px;
}
.content p{
    overflow: hidden;
    text-align: left;
    width: 70%;
    margin-left: 350px;
    font-size: 1.5rem;
}

.footer{
    margin: auto;
}
#pag{
    margin-left: 32%;
    background-color: #ffffff;
    padding: 20px 300px;
    margin-bottom: 100px;
    font-size: 1.5rem;
    
}
#pag:hover{
    background-color: #acacac;
}

#space{
    margin: 1000px;
}